body {
  background-color: rgb(103, 192, 219);
  font-family: 'Itim', cursive;
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Shantell Sans', cursive;
  }

  table, th, td {
  border: 1px solid;
}

th {
  color: rgb(194, 16, 49);
}

td {
  color: rgb(219, 21, 192);
}

#Real {
background-color: brown;
color: gold;
}
#Madrid {
background-color: gold;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}




